<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remarcable Assignment</title>
</head>
<body>
    <form method = "GET" action = "/products/">
        <input type = "text" name = "search" placeholder = "Search products..." value="{{ search_query }}">
        <select name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if category.id|stringformat:"s" == selected_category %} selected {% endif %}>
                    {{category.name}}
                </option>
            {% endfor %}
        </select>

        <details>
            <summary>Filter by Tags</summary>
            {% for tag in tags %}
                <input type="checkbox" name="tags" value = "{{tag.id}}"
                    {% if tag.id in selected_tags %}checked{% endif %}>
                    {{tag.name}}<br>
            {% endfor %}
        </details>

        <button type = "submit"> Search </button>


    </form>

    {% for product in products %}
    <div>
        <h3>{{ product.name }}</h3>
        <ul>
            <li>Description: {{product.description}}</li>
            <li>Price: ${{ product.price }}</li>
            <li>Category: {{ product.category }}</li>
            <li>Tags: 
                {% for tag in product.tags.all %}
                {{ tag.name }}
                {% if not forloop.last %},
                {% endif %}
                {% endfor %}
            </li>
        </ul>
    </div>

    {% endfor %}
</body>
</html>